body {
    margin: 0px;
}

span.button {
    cursor: pointer;
}

#top.header {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, #009a9c, #0eccc7);
    margin-top: 7px;

}

#container.header {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
}

.inactive {
    display: none;
}

#logo.header {
    display: flex;
}

#image.logo {
    background-image: url("../images/white48.png");
    background-size: cover;
    height: 30px;
    width: 30px;
}

#text.logo {
    color: #ffffff;
    margin: auto;
    margin-left: 2px;
}

#container.container {
    margin: 8px 16px 0px 16px;
    width: 210px;
    max-height: 400px;
    overflow-y: scroll;

}

#logo.authentication {
    margin: auto;
    width: 100px;
    height: 100px;
    background-image: url("../images/xed128.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#settings.header {
    width: 22px;
    height: 22px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.header .material-icons {
    font-size: 22px;
}

#inside.container {
    margin-top: 8px;
}

#email.authentication {
    margin-top: 8px;
}

.authentication.input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #009a9c;
    height: 30px;
    transition: 0.5s;
}

.authentication.input:focus {
    border-bottom: 2px solid #0eccc7;
    border-left: 5px solid #009a9c;
}

#bottom.authentication {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.authentication.link {
    text-decoration-line: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #0eccc7;
}

.authentication.link:hover {
    text-decoration-line: underline;
}

#send.authentication {
    width: 40%;
    height: 30px;
    border-radius: 8px;
    background: #0f919c;
    outline: none;
    color: whitesmoke;
        border: none;

}

#send.authentication:hover {
    background: #0eccc7;
}

#get-ref {
    width: 100%;
}

#get-rules {
    width: 100%;
}

#Cat-ID {
    width: 100%;
}

#copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #9f9f9f;
}

p#copyright {
    font-size: 8px;
    margin: 0px;
}

/*//////////*-----setup-----****/
#monitor.setup{
    border-bottom: 3px solid #009a9c;

}
#container.setup {
    width: 100%;
    transition: 0.5s;
    color: #363636;
}


.setup.label.innerText{
width: fit-content;
    margin: auto;
     padding: 17px;
}
#operation-type.setup {
    width: 100%;
    display: flex;
}
.container.label.out{
    width: 100%;
    height: 50px;
}
/*.lab-op {*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*background: rgba(16, 178, 189, 0.32);*/
/*}*/

div.operation {
    width: 100%;
    height: 50px;
    transition: 0.2s;
}

.Op-radioActive {
    color: #0f919c;
    background-color: rgba(0, 212, 203, 0.2);
    border-bottom:3px solid #0f919c;
}
.rr-radioActive {
    color: #0f919c;
    background-color: rgba(0, 212, 203, 0.2);
    border-bottom:3px solid #0f919c;
}
div.operation:hover{
    cursor: pointer;
    color: #0f919c;
    background-color: rgba(0, 212, 203, 0.2);
}
#container.info{
    font-size: 10px;
    border-bottom:3px solid #0f919c;
}
.blocked{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #9f9f9f;
}
.buttonType {
    width: 100%;
    height: 25px;
    border-radius: 2px;
    background-color: #0f919c;
    outline: none;
    border: none;
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.buttonType:hover {
    background: #0eccc7;
}
.blocked.buttonType{
    background-color: #9f9f9f;
}
/*- - - - - - -ref-rec- - - - - - - -*/

#reference-recurrent.setup{
    display: flex;
    width: 100%;
}
div.ref-rec {
    width: 100%;
    height: 50px;
    transition: 0.2s;
}
div.ref-rec:hover{
    cursor: pointer;
    color: #0f919c;
    background-color: rgba(0, 212, 203, 0.2);
}

#next.buttonType {
    width: 100%;
    height: 25px;
    border-radius: 2px;
    background-color: #0f919c;
    outline: none;
    border: none;
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 8px;
}
#next.blocked.buttonType{
    background-color: #9f9f9f;
}
#next.buttonType:hover {
    background: #0eccc7;
}

/*--------------attr-ref---------------*/

#top.attr-ref{
    border-bottom: 3px solid #009a9c;
    display: flex;
    justify-content: space-between;
}
.step-back .button .material-icons{
    font-size: 18px;
    font-weight: bolder;
    color:#009a9c;
}
.step-back .button .material-icons:hover{
    color:#0eccc7;
}
.opened .material-icons{
    color: #00616e;

}
/*----------settings----------*/
.settings.option.container{
    width: 100%;
    height: 25px;
    border-left: 3px solid #25c4d6;
    cursor: pointer;
     color: #363636;
}
.settings.option.text{
    left: 4px;
    position: relative;
    bottom: -5px;
    font-size: 12px;
    font-weight: bold;


}

.settings.option.container:hover{
    width: 100%;
    height: 25px;
    color: white;
    background-color: #009a9c;
}