.Xed---.Xedcontainer {
    width: 100%;
}

.Xed-- {

}

.Xed.Xedcontrol {
    position: sticky;
    top: 0px;
    border-bottom: 5px solid #009a9c;
    transition: 0.5s;
    z-index: 10000;
    font-size: 12px;
    color: #363636;
}

.Xed.XedTop {
    height: 50px;
    background-color: #bfebe5;
    display: flex;
    justify-content: space-between;
}

.XedBottom {
    background-color: #eefaff;
}

.Xed.Top {
    margin-top: auto;
    margin-bottom: auto;
}
.Xed.Mid {
    margin-top: auto;
    margin-bottom: auto;
}

/*
//////inside//////
*/
.XedActivated {
    border: 1px solid olivedrab;
}

.XedActive.XedActivated {
    border: 2px solid palevioletred;
}

.XedUpLayer {
    background-color: rgba(165, 42, 42, 0.25);
}

.XedDownLayer {
    border: 2px solid #ffae12;
}

.XedDownLayer.XedDownLayerSelected {
    border: 2px solid #341aff;
    color: red;
}