.XedPop-up {

    /*width: 20px;*/
    /*height: 20px;*/
    /*background: brown;*/
    /*position: absolute;*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    /*z-index: 10000;*/

}

.pop-up-inside {
    /*font-size: small;*/
    /*width: max-content;*/
    /*height: 400px;*/
    /*left: 30px;*/
    /*overflow: scroll;*/
    /*border: 2px solid rgba(13, 201, 255, 0.57);*/
    /*background: rgba(236, 242, 255, 0.8);*/
    /*color:darkslategray;*/
    /*position: relative;*/
    /*border-radius: 10px;*/
    /*z-index: 9999;*/
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgba(221, 221, 221, 0.57);
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.57);
}

/*control.js*/
#container.XedTop {
    position: sticky;
    top: 0px;
    z-index: 999999;
    overflow: scroll;
    max-height: 250px;
    border-bottom: 5px solid rgba(21, 21, 21, 0.85);
}

.XedTop {
    background-color: #ffce58;
}

#right.XedInside {
    padding: 5px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

#left.XedInside {
    padding: 5px;
}

#panel.XedControl {
    width: 100%;
    min-height: 150px;
    background-color: #fff4d2;
}

#toggle.Xed {
    cursor: pointer;
}

#currentUrl.Xed {

}

#right.Xedpanel {
    padding-right: 10px;
    font-size: 12px;
    width: 100%;
}

#left.Xedpanel {
    padding-left: 10px;
    font-size: 12px;
    min-width: 25%;
}

/*
//////inside//////
*/
.XedActivated {
    border: 1px solid olivedrab;
}

.XedActive.XedActivated {
    border: 2px solid palevioletred;
}

.XedUpLayer{
    background-color: rgba(165, 42, 42, 0.25);
}

.XedDownLayer{
    border: 2px solid #ffae12;
}
.XedDownLayer.XedDownLayerSelected{
    border: 2px solid #341aff;
    color:red;
}